@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    letter-spacing: .05em;
    color: #171717;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.flex {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    transition: .3s;
    cursor: pointer;
    display: block;
}

button:hover {
    opacity: 0.8;
    transition: .3s;
}